compatibility_date = "2021-10-21"
type = "javascript"
name = "worker-template"
account_id = "abcdefg01234567890"
zone_id = "abcdefg01234567890"
workers_dev = true
routes = ["https://example.com/item*"]
vars = { }
port = 8787
kv_namespaces = [
	{ binding = "destinationNamespace", id = "abcdefg01234567890" },
]
[durable_objects]
bindings = [
	{ name = "hookNamespace", class_name = "HookStorage" },
]

[build]
command = "npm install && npm run build:local"

[build.upload]
format = "modules"
dir = "dist"
main = "./_worker.mjs"

[env.wrangler]
workers_dev = true
account_id = "abcdefg01234567890"
vars = {  }

[env.miniflare]
vars = { }

[miniflare]
durable_objects_persist = "./.miniflare/durable-objects/"
kv_persist = "./.miniflare/kv/"
